@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: theme('colors.white');
		--foreground: theme('colors.zinc.900');
		--content: theme('colors.zinc.800');
		--border-color: theme('colors.gray.300')
	}

	[data-theme='dark'] {
		--background: theme('colors.zinc.900');
		--foreground: theme('colors.white');
		--content: theme('colors.zinc.200');
		--border-color: theme('colors.zinc.600')
	}

	html, body {
		@apply h-full;
		background-color: var(--background);
		color: var(--foreground);
	}

	body {
		@apply min-h-full flex flex-col
	}

	img {
		@apply select-none;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	::selection {
		@apply bg-primary
	}
}
